/*.info-images .col-xs-2{
	width: 20%;
}

.info-images .col-xs-4{
	width: 40%;
	height: 152px;
	width: 539px;
}*/
.col-md-2
{
    width: 20%;
}
.col-md-4
{
    width: 40%
}
.info-images .row
{
    margin: 0px;
}
#about-flip img
{
    background-color: transparent;
     width: 271.8px;
    height: 151.359px;
}
@media (max-width: 553px) {
   #about-flip 
    {
        background-color: transparent;
        width: auto;
        height: 151.359px;
    }
    #about-flip img
    {
        background-color: transparent;
        width: auto;
        height: 151.359px;
    }
    .info-images .col-xs-4{
        width: 40%;
        height: auto;
        width: auto;
    }
    .col-md-2 h1
    {
        font-size: 15px;
    }
}
@media (max-width: 1250px){
    .col-md-2 h1
    {
        font-size: 25px;
    }
    }
@media (max-width: 870px){
    .col-md-2 h1
    {
        font-size: 15px;
    }
    }
@media (max-width: 570px){
    .col-md-2 h1
    {
        font-size: 25px;
    }
    .col-md-4
{
    width: 100%
}
    .col-xs-12 img
    {
        width: 100% !important;
    }
    }